.header{
    height: 40vh;
    background-color: blueviolet;
    color: #fff;
    font-family: 'Yeseva One', cursive;
    font-size: 4em;
    text-align: center;
    line-height: 35vh;
}
.post-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.post-section-division{
    
    
}
.post{
    margin: 1rem;
    background-color: coral;
    height: 25rem;
    width: 20rem;
}

